#port {
    width: 100%;
    background: #eaf2ff;
    overflow-x: hidden;
}
.port__inner {
    padding: 16px;
}
.port__title {

    position: sticky;
    top: 70px;
    left: 0;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 100px;
    width: 50%;
    height: 5vw;
    font-size: 4vw;
    font-weight: 400;
    font-family: var(--mfont);
    border-bottom: 0.4vw solid var(--zcolor);
    color: var(--zcolor);
}
.port__title em {
    display: block;
    font-family: var(--mainKor-font);
    font-size: 1.25rem;
    font-weight: 400;
    display: inline-block;
    vertical-align: 5px;
}

.port__wrap {
    display: flex;
    flex-wrap: wrap;
    width: 7000px;
}
.port__item {
    width: 500px;
    min-height: 70vh;
    height: auto;
    margin-right: 20px;
    background-color: rgba(255, 255, 255, 0.459);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid #488dfd55;
}
.port__item .num {
    font-size: 1.5rem;
    display: block;
    text-align: center;
    margin-bottom: 20px;
    color: var(--zcolorUp);
    font-family: var(--mfont);
}
.port__item a {
    display: block;
    text-align: center;
}
.port__item a img {
    width: 100%;
    height: 25vh;
    display: block;
    object-fit: cover;
    margin-bottom: 20px;
    opacity: 1;
    transition: all 0.2s;
    border-radius: 5px;
}
.port__item:hover img {
    opacity: .8;
}
.port__item .title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
    color: #488dfd;
}
.port__item .desc {
    font-size: .9rem;
    word-break: keep-all;
    background-color: #eaf2ff;
    color: var(--black300);
    padding: 20px;
    border-top: 2px solid var(--zcolorUp);
    margin-bottom: 20px;
    max-height: 150px;
}
.port__item .site_link {
    width: 100%;
    background-color: var(--zcolorUp);
    color: var(--white);
    border-radius: 5px;
    transition: all .2s;
    margin-bottom: 10px;
}
.port__item .site_link a {
    width: 100%;
    display: block;
    padding: 15px;
}
.port__item .site_link:hover {
    background-color: #68a2ff;
}

@media (max-width: 800px){
    .port__title {
        width: 100%;
        margin-bottom: 10vw;
        height: auto;
    }
    .port__item {
        width: 400px;
    }
}